 {% extends "base.html" %} 

{% block content %}
<form method="post">
    <div class = "blog">
    <label>
        <div class = "blog-title">Title</div>
        <input type="text" name="title" value = "{{ title }}">
    </label>
    <br>
    <br>
    <label>
        <div class = "blog-body">Content</div>
        <textarea name = "blog_content">{{ blog_content }}</textarea>
    </label>

    <div class = "error">{{ error }}</div>
    <input type = "submit">
    </div>
</form>
<hr>

{% endblock %}
